// ---- Extra Colors
$color-background: #F3F5F7;

$color-white: #FFFFFF;
$color-light-black: #282726;
$color-extra-light-silver: #C0CCDA;
$color-grey: #b8c5cc;

$color-teal: #6A8A82;
$color-yellow: #A37C27;
$color-red: #A7414A;
$color-brown: #563838;

//  --- Sizing and Component Style
$height-nav: 80px;
$height-subnav: 75px;
$shadow-default: 0 2px 2px 0 rgba(0,0,0,.15);
$border-radius-default: 4px;
$transition-custom: all 0.3s ease;